{% load staticfiles %}
<div class="span2 first">
    {% for brand in brands %}
    <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ brand.title }}</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            {% for item in brand.get_models %}
            <li><a href="/shop/list/{{ item.brand.slug }}/{{ item }}/">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>