{% load thumbnail %}
<p class="sale">HOT <span>SALES</span></p>
{% for product in hot_products %}
<div class="row ">
    <div class="span3 text-center">
        <div class="car">
            <a href="/shop/sales/{{ product.id }}/">
                {% thumbnail product.preview "250x153" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            </a>
            <div class="redSale">${{ product.price }}</div>
        </div>
        <div class="redLine">
            <p>{{ product.title }}</p>
            <p>{{ product.short_description }}</p>
        </div>
    </div>
</div>
{% endfor %}