<div class="row" style="margin-top: 30px">
  <div class="span7">
    <p class="send">Didn't find the answer?</p>
    <p class="send2">Send it here and we’ll answer it as soon as possible:</p>
    <div id="contact-form-error"></div>
    <form class="form-horizontal" style="margin-top: 20px" id="contact-form" method="POST" action="/feedback/">
      <div class="control-group">
        <label class="control-label">Your name: </label>
        <div class="controls">
          {{ feedback_form.name }}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Your e-mail: </label>
        <div class="controls">{{ feedback_form.email }}</div>
      </div>
      <div class="control-group">
        <label class="control-label">Your question: </label>
        <div class="controls">
          {{ feedback_form.text }}
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          {{ feedback_form.send_mail_copy }}
          <p style=" margin-top: -17px; ">Send copy on my e-mail</p>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit">Send</button>
        </div>
      </div>
    </form>
  </div>
</div>