{% extends "admin/change_form.html" %}

{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">

function select_linked(){
  $.ajax({
        url: '/shop/admin/product/model/ajax/?brand='+$("#id_brand").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_model').html('<option>Загрузка...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('title') + '</option>';
              });
          }
          $('#id_model').html(options);
      }
  });
}

$(function() {
  $('#id_brand').on('change', function() {
    select_linked();
  });

  select_linked();
});
</script>
{% endblock %}
