/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */
body {
    background: #f5f5f5 url('../img/back.png') center 60px no-repeat;
    min-height: 100%;
    padding-bottom: 300px;
    position: relative;
}

.LineHeader {
    height: 40px;
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: #e9e9e9;
    margin: 0px auto;
}

footer {
    height: 200px;
    background-color: #cccccc;
    width: 100%;
    margin-top: 30px;
    position: absolute;
    bottom: 0px;
    padding-top: 50px;
}
footer .span2 {
    width: 115px;
}
footer .span2 p {
    position: relative;
    bottom: -60px;
    font-size: 13px;
    color: #333333;
    font-family: 'Open Sans', 'sans-serif';
}

footer .span2 a {
    color: #333333;
    text-decoration: underline;
}

footer .span2 a:hover {
    text-decoration: none;
}

footer .span7 ul {
    margin-left: 0px;
}

footer .span7 p {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
}

footer .span7 ul li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
}

footer .span7 ul li a {
    color: #333333;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    font-weight: 600;
}

footer .span7 ul li:last-of-type {
    list-style-type: none;
    float: none;
}

.header:first-child {
    z-index: 1;
    position: relative;
}

.header .span2:first-of-type {
    background-color: #dadada;
    border-bottom: 1px solid #fe0000;
    height: 40px;
    width: 190px;
}

.header .span7 {
    margin-left: 0px;
}

.header .span7 ul li {
    list-style-type: none;
    float: left;
    margin: 10px 40px;
}

.header .span7 ul li a {
    color: #636363;
}

.header .span1 img:hover {
    opacity: 0.7;
}

.header .span3.basket {
    overflow: hidden;
    height: 70px;
}

.header .span2:last-of-type {
    background-color: #dadada;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    margin-left: 0px;
    width: 220px;
    padding-top: 19px;
    padding-bottom: 5px;
}

.header .span2:last-of-type span {
    font-size: 20px;
    font-weight: 600;
    margin-left: 10px;
}

.header .span2:last-of-type p:first-of-type {
    margin-bottom: 0px;
    padding-left: 10px;
}

.header .span2:last-of-type p:last-of-type {
    font-weight: 600;
    padding-left: 10px;
}

.header.afterHeader .span2:first-of-type {
    background: none;
    border: none;
}

.header.afterHeader .span7 {
    font-size: 24px;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
}

.header.afterHeader .span7 p {
    margin-left: 62px;
    margin-top: 20px;
    font-size: 37px;
    font-weight: 600;
    line-height: 36px;
    color: #333333;
}

.header.afterHeader .span7 span {
    font-weight: bold;
}

.header.afterHeader .span3 img {
    margin-top: 20px;
    margin-left: 70px;
}

.main {
    margin-top: 15px;
}

.rightBlock {
    border-top: 1px solid #cccccc;
}

.rightBlock .sale {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    margin: 0px;
    background-color: #ffffff;
    padding: 10px 0px 20px 15px;;
}

.rightBlock .sale span {
    font-weight: 900;
}

.rightBlock .span3 {
    margin-left: 0px;
}

.rightBlock .row {
    padding-bottom: 15px;
    background-color: #ffffff;
    margin-left: 0px;
}

.rightBlock .row:last-of-type {
    padding-bottom: 15px;
    background: none;
    margin-top: 20px;
}

.main .span7 {
    margin-left: 0px;
}

.main .span2:first-child {
    width: 190px;
    background-color: #e0e0e0;
    border-top: 1px solid #fe0000;
}

.main .span2 ul li {
    list-style: none;
    border-bottom: 1px solid #cccccc;
    text-align: left;
    width: 135px;
}

.main .span2 ul li a {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    color: #666666;
}

.main .span2 ul li a:hover {
    color: #000000;
    text-decoration: none;
}

.main .redLine {
    margin: 10px 0px 10px 20px;
    border-left: 2px solid #fe0000;
    padding-left: 10px;
}

.main .redLine p {
    text-align: left;
    margin-bottom: 0px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 12px;
    color: #999999;
    line-height: 14px;
}

.main .redLine p:first-child {
    color: #333333;
    font-size: 14px;
    margin-bottom: 5px;
}

.car {
    position: relative;
}

.car .redSale {
    position: absolute;
    background-color: #990000;
    color: #ffffff;
    padding: 20px 16px;
    bottom: -50px;
    right: 20px;
}

.information p span {
    color: #999999;
    margin-right: 30px;
    font-size: 14px;
}

.information h3 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 24px;
    font-weight: normal;
    margin-top: 0px;
    line-height: 20px;
    margin-left: 25px;
    margin-bottom: 30px;
}

.information p {
    margin-left: 25px;
    color: #333333;
    margin-bottom: 20px;
}

.information h3 span {
    font-size: 24px;
    font-weight: 600;
}

.information .span3 p:first-child {
    float: left;
    color: #999999;
    margin-right: 30px;
}

.information .span3 p:last-child {
    overflow: hidden;
}

.absolute {
    position: absolute;
    right: 9px;
    top: 60px;
}

.absolute img {
    opacity: 0.1;
}

.relative {
    position: relative;
}

.form-horizontal .controls input[type="text"] {
    width: 155px;
    border-radius: 0px;
    border: 1px solid #abadb3;
}

.form-horizontal .controls textarea {
    width: 324px;
    height: 120px;
    border-radius: 0px;
    border: 1px solid #abadb3;
    resize: none;
}

.form-horizontal .controls p {
    color: #333333;
    font-size: 14px;
}

.form-horizontal .controls button {
    background-color: #990000;
    height: 40px;
    width: 155px;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 18px;
    font-weight: 600;
}

.form-horizontal .control-label {
    font-size: 14px;
    color: #999999;
}

.form-horizontal .control-group {
    margin-bottom: 10px;
}

.send2 {
    font-family: 'Arial', 'sans-serif';
    font-size: 14px;
    color: #333333;
    padding-left: 40px;
}

.send {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    padding-left: 40px;
}

.send .email {
    font-size: 24px;
!important font-weight : bold;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
!important
}

.send3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    padding-left: 40px;
    margin-top: 10px;
}

.map {
    padding-left: 55px;
    padding-bottom: 25px;
}

.about p {
    margin-left: 25px;
}

.about h3 {
    margin-top: 0px;
    margin-left: 25px;
    font-weight: normal;
    line-height: 30px;
}

.about h3 span {
    font-size: 24px;
    font-weight: 600;
}

.about .foto {
    width: 97%;
    margin-left: 25px;
    margin-top: 20px;
}

.about .video {
    width: 370px;
    height: 243px;
    margin-left: 0px;
}

.drop .span7 {
    padding-left: 30px;
}

.drop {
    padding-left: 25px;
    margin-top: 15px;
}

.drop a {
    font-size: 14px;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    top: -5px;
}

.drop a:hover {
    color: #660000;
    text-decoration: none;
    position: relative;
}

.drop li {
    list-style-image: url("../img/strelkaVniz.png");
    margin-bottom: 10px;
}

.drop li:hover {
    list-style-image: url("../img/strelkaHover.png");
}

.dropnumeric .span7 {
    padding-left: 30px;
}

.dropnumeric {
    padding-left: 25px;
    margin-top: 15px;
}

.dropnumeric a {
    font-size: 14px;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    text-decoration: none;
    font-weight: 700;
    position: relative;
    top: -5px;
    line-height: 11px;
}

.dropnumeric a:hover {
    color: #660000;
    text-decoration: none;
    position: relative;
}

.dropnumeric li {
    list-style: decimal;
    font-size: 32px;
    margin-bottom: 10px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 900;
    line-height: 18px;
}

.dropnumeric li:hover {
    color: #990000;
}

.block {
    display: none;
    margin-top: 10px;
    padding-right: 25px;
}

.block p {
    font-size: 14px;
    font-weight: normal;
    font-family: 'Arial', 'sans-serif';
    color: #333333;
}

.textVideo {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 14px;
    color: #333333;
    padding-left: 25px;
    padding-top: 30px;
}

.textVideo p {
    margin-left: 0px;
}

.textVideo p:first-child {
    color: #999999;
    font-size: 18px;
    font-weight: 600;
    margin-left: 0px;
}

.textVideo h4 {
    font-size: 29px;
}

.videoWithText {
    margin-bottom: 15px;
    background-color: #ffffff;
}

.orderOfActions {
    background-color: #e9e9e9;
    font-family: 'Open Sans', 'sans-serif';
}

.orderOfActions .span6:first-child {
    width: 290px;
}

.orderOfActions h4 {
    color: #990000;
    font-size: 29px;
    margin: 30px 0px;
}

.orderOfActions p {
    margin-left: 0px;
    font-weight: normal;
    margin-top: 5px;
    line-height: 18px;
}

.orderOfActions .span6:last-child {
    margin-left: 0px;
    width: 330px;
}

.orderOfActions ul li {
    font-weight: 600;
    margin-bottom: 5px;
}

.iconAndText.active, .iconAndText.active a {
    color: #660000;
}

.drop li.active {
    list-style-image: url("../img/strelkaVverx.png");
}

.dropnumeric li.active {
    color: #660000;
}

.span6.photoCars {
    width: 371px;
    margin-top: 10px;
    margin-left: 8px;
}

.photoCars img {
    margin-bottom: 10px;
}

.photoCars .row-fluid .span6 {
    width: 171px;
}

.photoCars .row-fluid .span6:last-child {
    margin-left: 29px;
}

.photoCars .row {
    margin-left: 0px;
}

.span6.textCar {
    width: 281px;
    margin-top: 10px;
}

.textCar h4 {
    font-size: 20px;
    color: #990000;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
}

.textCar h4 span {
    font-weight: 700;
}

.textCar p {
    width: 250px;
    color: #333333;
    font-size: 12px;
    line-height: 18px;
}

.textCar ul li {
    color: #333333;
    font-size: 12px;
    line-height: 18px;
}

.textCar ul {
    margin-left: 15px;
}

.textCar .redLine {
    margin-left: 0px;
    background-color: #f5f5f5;
    width: 250px;
}

.textCar .redLine .allP {
    width: 150px;
    padding-top: 8px;
    padding-bottom: 7px;
}

.textCar .redLine .redSale {
    color: #ffffff;
    background-color: #990000;
    max-height: 60px;
    font-weight: 600;
    width: 100px;
    font-size: 14px;
    font-family: 'Open Sans', 'sans-serif';
    padding: 20px 0px;
    text-align: center;
    position: relative;
    top: -61px;
    float: right;
}

.fone {
    padding-left: 20px;
    border-top: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 20px;
}

.textCar .btn.silver {
    border-radius: 0px;
    background-color: #999999;
    color: #ffffff;
    background-image: none;
    border: none;
    text-shadow: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 10px 21px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.home .row {
    margin-left: 0px;
}

.home .row-fluid {
    margin-left: 0px;
}

.headlines {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 30px;
    line-height: 42px;
    font-weight: 600;
    color: #333333;
    margin-left: 20px;
}

.headlines span {
    font-weight: bold;
}

.headlines.when {
    font-size: 20px;
    line-height: 25px;
    margin-top: 25px;
}

.headlines.when span {
    font-size: 23px;
}

.badGoodCar .span6 {
    width: 335px;
    margin-left: 0px;
}

.whenBad li {
    list-style-image: url("../img/redXrest.png");
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    line-height: 18px;
    margin-bottom: 10px;
    width: 260px;
}

.whenBad {
    margin-left: 45px;
    margin-top: 25px;
}

.whenBad div {
    position: relative;
}

.whenBad.whenGood li {
    list-style-image: url("../img/greenGalo4ka.png");
}

.moreThan {
    background-color: #ffffff;
    border-bottom: 1px solid #ff0000;
    border-top: 1px solid #ff0000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.moreThan img {
    float: left;
    margin: 60px 30px;
}

.moreThan p {
    overflow: hidden;
    line-height: 16px;
    margin-bottom: 5px;
    font-family: 'Open Sans', 'sans-serif';
}

.moreThan h5 {
    font-family: 'Open Sans', 'sans-serif';
    font-size: 20px;
    color: #ff0000;
    line-height: 23px;
    font-weight: normal;
    margin-top: 20px;
}

.moreThan h5 span {
    font-size: 22px;
    font-weight: 600;
}

.textVideo.homes {
    font-family: 'Open Sans', 'sans-serif';
}

.bmw {
    position: absolute;
    display: none;
    background-color: #f5f5f5;
    text-align: left;
    padding: 10px;
    z-index: 999;
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
}

.bmw .span4 ul li {
    text-align: left;
    width: 100%;
}

.bmw .span4 ul li a {
    line-height: 25px;
    font-size: 14px;
}

.bmw.active {
    display: block;
}
.shopping h3{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    font-size: 24px;
    color: #990000;
    margin-left: 30px;
}
.shopping {
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
}
.shopping .complete {
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    line-height: 26px;
    margin: 100px 0px 300px 0px;
}
.shopping .tabels tr td a{
    color: #990000;
    font-size: 20px;
}

.shopping .tabels tr td a:hover{
    text-decoration: none;
}

.shopping .tabels tr {
    vertical-align: top;
}

.shopping .tabels tr:first-child td {
    font-size: 12px;
    color: #999999;
    border-bottom: 1px solid #cccccc;
}

.shopping .tabels tr td:first-child {
    width: 47px;
    text-align: center;
}

.shopping .tabels tr td:last-child {
    padding-left: 15px;
    width: 80px;
}

.shopping .tabels tr .item {
    width: 275px;
    padding-left: 5px;
}

.shopping .tabels tr .quontity{
    text-align: center;
    width: 65px;
}

.shopping .tabels tr .carModel{
    width: 175px;
}

.shopping ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#breadcrumbs-one {
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-one li {
    float: left;
}

#breadcrumbs-one a {
    padding: .7em 2em .7em 3em;
    float: left;
    text-decoration: none;
    color: #999999;
    font-size: 18px;
    line-height: 28px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #e0e0e0, #ddd);
}

#breadcrumbs-one li:first-child a {
    padding-left: 1em;
}

#breadcrumbs-one a.active {
    background: #999999;
    color: #ffffff;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-one a::after {
    z-index: 2;
    border-left-color: #ddd;
}

#breadcrumbs-one a::before {
    border-left-color: #ccc;
    right: -1.0em;
    z-index: 1;
}

#breadcrumbs-one a.active::after {
    border-left-color: #999999;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before {
    content: normal;
}
abbr{
    border-bottom: none;
}
.discount{
    margin-top: 20px;
}
.discount a:last-child{
    color: #003399;
    font-size: 12px;
    text-decoration: underline;
}
.discount a:hover:last-child{
    text-decoration: none;
}
.discount input{
    height: 20px;
    margin-left: 60px;
    border-radius: 0px;
    margin-top: 10px;
}

.discount p{
    padding-left: 60px;
    margin-bottom: 6px;
}

.discount .btn {
    display: inline;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #999999;
    background-image: none;
    background-repeat: repeat-x;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: none;
    border-color: #ccc #ccc #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -moz-box-shadow: none;
    box-shadow: none;
}

.payment {
    margin-top: 20px;
}
.payment select{
    border-radius: 0px;
}
.shipping {
    margin-top: 20px;
}
.shipping p{
    margin-bottom: 5px;
    padding-left: 60px;
    font-size: 12px;
    line-height: 24px;
    color: #333333;
}
.shipping input{
    margin-top: 0px;
}
.personalInform {
    margin-top: 20px;
}
.smallItem{
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 15px;
    padding-left: 60px;
}
.personalInform .span3 p:first-child{
    margin-bottom: 15px;
}
.personalInform .span3{
    margin-left: 0px;
}
.form-horizontal .control-label {
    font-size: 12px;
    color: #333333;
}
.personalInform .span3 .form-horizontal .control-label{
    width: 100px;
}
.personalInform .span3 .form-horizontal .controls {
    margin-left: 110px;
}
.personalInform .span3 .form-horizontal .controls select{
    border-radius: 0px;
    width: 170px;
}
.lastTable {
    float: right;
    margin-top: 20px;
    font-size: 14px;
    font-family: 'Open Sans', 'sans-serif';
    color: #333333;
    line-height: 24px;
}
.lastTable tr td:last-child{
    padding-left: 10px;
}
.lastTable tr:last-child td:first-child{
    font-size: 18px;
    color: #990000;
    line-height: 36px;
    font-weight: 600;
}
.lastTable tr:last-child td:last-child{
    font-size: 17px;
    font-weight: 600;
}

#breadcrumbs-two {
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-two li {
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}

#breadcrumbs-two a {
    padding: .5em 2em .5em 3em;
    float: right;
    text-decoration: none;
    color: #999999;
    font-size: 15px;
    line-height: 29px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #e0e0e0, #ddd);
}

#breadcrumbs-two li:first-child a {
    padding-left: 1em;
}

#breadcrumbs-two a:hover {
    background: #999999;
    color: #ffffff;
}

#breadcrumbs-two a::after,
#breadcrumbs-two a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}

#breadcrumbs-two a::after {
    z-index: 2;
    border-left-color: #ddd;
}

#breadcrumbs-two a::before {
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-two a:hover::after {
    border-left-color: #999999;
}

#breadcrumbs-two .current,
#breadcrumbs-two .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs-two .current::after,
#breadcrumbs-two .current::before {
    content: normal;
}
.text {
    color: #999999;
    padding-bottom: 50px;
}
.text p{
    margin-bottom: 5px;
}
.text .span3 p{
    margin-left: 60px;
}
.text span {
    color: #333333;
}
.carefull{
    color: #990000;
    margin-left: 60px;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 24px;
}
.form-horizontal.checkout{
    margin-left: 90px;
}
.form-horizontal.checkout  select{
    width: 83px;
    text-align: center;
}
.form-horizontal.checkout input{
    height: 18px;
}
.form-horizontal.checkout i{
    font-size: 18px;
    margin-left: 5px;
}
.form-horizontal.checkout a{
    color: #333333;
    text-decoration: none;
}
.form-horizontal.checkout a:hover{
    color: blue;
    text-decoration: none;
}
.form-horizontal.checkout label{
    text-align: left;
}
.line {
    border-bottom: 1px solid #cccccc;
}
.pay .btn{
    border-radius: 0px;
    background-color: #990000;
    color: #ffffff;
    background-image: none;
    border: none;
    text-shadow: none;
    font-size: 18px;
    font-family: 'open sans', 'sans-serif';
    font-weight: bold;
    padding: 10px 40px;
    margin-right: 35px;
    margin-bottom: 40px;
}
.pay p{
    font-size: 18px;
    color: #990000;
    line-height: 36px;
    font-weight: 600;
    font-family: 'Open Sans', 'sans-serif';
    margin-right: 20px;
    margin-top: 20px;
}
.pay span{
    font-size: 17px;
    font-weight: 600;
    color: #333333;
}

.wiz-buttons > a {
    position: relative;
    display:block;
    font: normal 14px Arial;
    text-decoration: none;
    cursor:pointer;
    margin-top: 60px;
}

.wiz-buttons > a > .button {
    min-width: 75px;
}

/* Previous Button */

.wiz-buttons > .previous {
    color: #ffffff;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 18px;
    font-weight: bold;
}

.wiz-buttons > .previous > .arrow-inner {
    display: block;
    position: absolute;
    top: 0px;
    left: 4px;
    z-index: 2000;
    width: 0;
    height: 3px;
    border: 22px solid transparent;
    border-right-color: #999999;
}

.wiz-buttons > .previous > .arrow {
    display: block;
    float: left;
    width: 0;
    height: 0;
    border:  24px solid transparent;
    border-right-color: #e8e8e8;
}

.wiz-buttons > .previous > .button {
    display: block;
    float: left;
    line-height: 20px;
    background-color: #999999;
    border: 1px solid #999999;
    border-left: 0;
    padding: 13px 25px;
    text-align: center;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px ;
    border-radius: 0px ;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.wiz-buttons > .previous:hover > .arrow {
    border-right-color: #e0e0e0;
}

.wiz-buttons > .previous:hover > .arrow-inner {
    border-right-color: #e0e0e0;
}

.wiz-buttons > .previous:hover > .button {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
.howOrder {
    background-color: #ffffff;
    border-top: 1px solid #cccccc;
    margin-top: 20px;
}
.dropdown-menu {
    position: absolute;
    left: 100px;
    top: 100%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 473px;
    padding: 10px;
    margin: 2px 0 0;
    list-style: none;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,0.2);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}
.dropdown-menu li{
    float: left;
    margin-left: 16px;
    min-width: 140px;
}

.dropdown-menu>li>a {
    padding: 3px 5px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a{
    background-image: none;
    background-color: #f5f5f5;
}
.dropdown {
    background-color: #e0e0e0;

    color: #333333;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #cccccc;
}
.dropdown a{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
    color: #333;
    text-decoration: none;
}
.dropdown a:hover{
    color: #000000;
    text-decoration: none;
}


#breadcrumbs-tabs {
    overflow: hidden;
    width: 100%;
}

#breadcrumbs-tabs li {
    float: left;
}
#breadcrumbs-tabs span{
    display: none;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
#breadcrumbs-tabs a {
    padding: .5em 2em .5em 3em;
    float: left;
    text-decoration: none;
    color: #999999;
    font-size: 18px;
    line-height: 33px;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: normal;
    position: relative;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    background-color: #ddd;
    background-image: linear-gradient(to right, #e0e0e0, #ddd);
}

#breadcrumbs-tabs li:first-child a {
    padding-left: 17px;
}
#breadcrumbs-tabs li.active {
    width: 56%;
}
#breadcrumbs-tabs li.active a{
    width: 85%;
}
#breadcrumbs-tabs a:hover {
    background: #999999;
    color: #ffffff;
}
#breadcrumbs-tabs a.active {
    background: #999999;
    color: #ffffff;
}

#breadcrumbs-tabs a::after,
#breadcrumbs-tabs a::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -1.5em;
    border-top: 1.5em solid transparent;
    border-bottom: 1.5em solid transparent;
    border-left: 1em solid;
    right: -1em;
}
#breadcrumbs-tabs li.active:nth-child(2) a.active::after,
#breadcrumbs-tabs li.active:nth-child(2) a.active::before{
    right:14px;
}
#breadcrumbs-tabs li.active:nth-child(2) a.active::before {
    right:12px;
}
#breadcrumbs-tabs li.active:nth-child(2) {
    width:61%;
}
#breadcrumbs-tabs a::after {
    z-index: 2;
    border-left-color: #ddd;
}

#breadcrumbs-tabs a::before {
    border-left-color: #ccc;
    right: -1.1em;
    z-index: 1;
}

#breadcrumbs-tabs a:hover::after {
    border-left-color: #999999;
}
#breadcrumbs-tabs a.active::after {
    border-left-color: #999999;
}
#breadcrumbs-tabs .current,
#breadcrumbs-tabs .current:hover {
    font-weight: bold;
    background: none;
}

#breadcrumbs-tabs .current::after,
#breadcrumbs-tabs .current::before {
    content: normal;
}
#breadcrumbs-tabs li.active span {display:inline;}
.nav-tabs>li {
    position: relative;
    margin-left: -2px;
}
.nav-tabs {
    border-bottom: none;
}
.howOrder p{
    color: #990000;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px 20px 10px;
}
.howOrder p span{
    font-weight: bold;
}
.slider div:first-child{
    position: relative;
}
.slider .leftBlock{
    position: absolute;
    width: 175px;
    height: 230px;
    top: 80px;
    left: 34px;
    z-index: 99;
}
.slider .leftBlock a{
    color: #666666;
    font-family: 'Open Sans', 'sans-serif';
    line-height: 14px;
    font-size: 14px;
    vertical-align: super;
}
.slider .leftBlock ul li{
    list-style-image: url("../img/car/listStyle.png");
    line-height: 13px;
}
.slider .redCar img{
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
.slider .leftBlock ul li.active a{
    color: #cc0000;
}
.slider .leftBlock ul li.active{
    list-style-image: url("../img/car/listStyleRed.png");
}
.slider p:first-of-type{
    position: absolute;
    top: 15px;
    left: 25px;
    width: 200px;
    color: #cccccc;
   font-family: 'Open Sans', 'sans-serif';

}
.slider p:last-of-type{
    position: absolute;
    bottom: 5px;
    left: 25px;
    color: #cccccc;
    font-size: 12px;
    font-family: 'Open Sans', 'sans-serif';
}
.slider .bigText {
    position: absolute;
    font-family: 'Open Sans', 'sans-serif';
    text-align: right;
    font-size: 17px;
    line-height: 26px;
    right: 10px;
    top: 60px;
    color: #ffffff;
}
.afterSlider{
    background-color: #cccccc;
    font-size: 15px;
    line-height: 22px;
    font-family: 'open sans', 'sans-serif';
    padding: 30px 0px 30px 0px;
    margin-bottom: 20px;
}
.afterSlider p{
    margin-left: 30px;
}
#fara{
    position: absolute;
    right: 40px;
    bottom: -80px;
}
.miniFotoCar {
    text-align: justify;
}
.miniFotoCar img:last-child{
    float: right;
}





@media (max-width: 959px) and (min-width:768px) {
    .header .span2:first-of-type {
        width: 100px;
    }

    /*сюда прописывай новые размеры для тех блоков, что менял, токо уже меньше, чтобы не лезли*/
}