{% load staticfiles %}
{% load shop_widgets %}
{% load main_widgets %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Kits{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
      <link rel="stylesheet" href="{% static "css/bootstrap.css" %} "/>
      <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %} "/>
      <link rel="stylesheet" href="{% static "css/style_site.css" %} "/>
    {% endblock %}
    {% block ie-js %}
      <!--[if lt IE 7]>
      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru"> <![endif]-->
      <!--[if IE 7]>
      <html class="no-js lt-ie9 lt-ie8" lang="ru"> <![endif]-->
      <!--[if IE 8]>
      <html class="no-js lt-ie9" lang="ru"> <![endif]-->
      <!--[if gt IE 8]><!-->
    {% endblock %}
</head>
<body style="background-image: none">
<!--[if lt IE 7]>
<p class=chromeframe>Ваш браузер <em>древний!</em> <a href="http://browsehappy.com/">Установите себе
    поновее</a> или <a href="http://www.google.com/chromeframe/?redirect=true">установите Google Chrome Frame</a>, чтобы
    работать с этим сайтом, да и со многими другими.</p>
<![endif]-->

<div class="LineHeader"></div>
<div class="container">
    <div class="row header">
        <div class="span2 first"></div>
        <div class="span7 relative">
            <ul>
                <li><a href="{% url 'main:about' %}">About</a></li>
                <li><a href="{% url 'main:how_to_install' %}">How to instal</a></li>
                <li><a href="{% url 'main:faq' %}">FAQ</a></li>
                <li><a href="{% url 'main:contacts' %}">Contact us</a></li>
            </ul>
        </div>
        <div class="span3 basket">
            <div class="row">
                <div class="span1">
                    <a href="/shop/cart/" id="cart-href"><img src="{% static "img/korzina.png" %}"></a>
                </div>
                <div class="span2" id="cart">
                    <p>Shopping Cart: <span>$0.00</span></p>
                    <p>Now in your cart 0 items</p>
                </div>
            </div>

        </div>
    </div>
    <div class="row header afterHeader">
        <div class="span2 text-center">
            <a href="/"><img src="{% static "img/Logotype.png" %}"></a>
        </div>
        
        <div class="span7">
            <p>{% block page_title %}There’s only one way <br><span>to protect your car</span>{% endblock %}</p>
        </div>
        <div class="span3">
            <img src="{% static "img/zm.png" %}">
        </div>
    </div>

    <div class="row main">
    {% brands_list_tag %}
    {% block center_content %}
    {% endblock %}
        <div class="span3 rightBlock">
            {% hot_sales_list_tag %}
            <div class="row">
                <div class="span3 text-center">
                    <a href="{% url 'main:special_offer' %}"><img src="{% static "img/baner.png" %} "></a>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->

<footer>
  <div class="container">
    <div class="row">
        <div class="offset1 span2">
          <a href="/"><img src="{% static "img/Logotype.png" %}"></a>
        </div>
        <div class="span7">
          <ul>
            <li><a href="{% url 'main:about' %}">About</a></li>
            <li><a href="{% url 'main:how_to_install' %}">How to instal </a></li>
            <li><a href="#">Buy now</a></li>
            <li><a href="{% url 'main:special_offer' %}">For dealers</a></li>
            <li><a href="{% url 'main:faq' %}">FAQ</a></li>
            <li><a href="{% url 'main:contacts' %}">Contact us</a></li>
          </ul>
          <p>Share with friends:</p>
          <p>
             <div class="share42init"  data-path="{% static "img/" %}"></div>
          </p>
        </div>
        <div class="span2">
          <p>Made by <a href="#">New Line</a></p>
        </div>
    </div>
  </div>
</footer>

{% block js %}
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
<script src="{% static "js/cart.js" %}"></script>
<script src="{% static "js/share42.js" %}"></script> 
{% endblock %}
</body>
</html>