﻿{% extends "base.html" %}
{% load staticfiles %}
{% load shop_widgets %}
{% load main_widgets %}
{% load thumbnail %}
{% block center_content %}
<div class="span7">
  {% if products %}
  {% for product in products %}
  <div class="row-fluid fone">
    <div class="span6 textCar">
      <h4>{{ product.title }}</h4>
      {{ product.text|safe }}
      <div class="redLine">
        <div class="allP">
          <p>{{ product.title }}</p>
          <p>{{ product.short_description }}</p>
        </div>
        <div class="redSale">${{ product.price }}</div>
      </div>
      <a class="btn silver" href="#" onclick="add_to_cart({{ product.id }})"><i class="icon-shopping-cart"></i> Add to car</a>
    </div>
    <div class="span6 photoCars">
      <div class="row">
        {% thumbnail product.preview "370x220" as im %}
            <img src="{{ im.url }}">
        {% endthumbnail %}
      </div>
      <div class="row-fluid">
        <div class="span12 miniFotoCar">
          {% for item in product.get_product_images %}
            {% thumbnail item.image "170x100" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="row-fluid fone">
    <h4 class="text-center">Unfortunately this section is still empty.</h4>
  </div>
  {% endif %}         
</div>
{% endblock %}