{% extends 'base.html' %}
{% load staticfiles %}

{% block js %}
{{ block.super }}
<script type="text/javascript">
function select_linked(){
  $.ajax({
        url: '/shop/cart/states/?country='+$("#id_country").val(),
        type : "GET",
        dataType: "json",
        beforeSend: function () {
            $('#id_state').html('<option>Loading...</option>');
        },
        success: function (data) {
          var options = '<option value="">---------</option>';
          data= JSON.parse(data);
          for (x in data) {
              $(data[x].fields).each(function() {
                options += '<option value="' + $(data[x]).attr('pk') + '">' + $(this).attr('name') + '</option>';
              });
          }
          $('#id_state').html(options);
      }
  });
}

$(function() {
  $('#id_country').on('change', function() {
    select_linked();
  });
  $('#id_discount').on('change', function() {
    cart_details_load();
  });
  $('input[name=delivery]').click(function() {
    cart_details_load();
  });

  cart_details_load();//load cart list items onload
  select_linked();//load linked selects country/state
});
</script>
{% endblock %}

{% block center_content %}
<div class="span7 shopping">
  <h3>CHECKOUT</h3>
  <ul id="breadcrumbs-one">
    <li><a href="" class="active">Order Details</a></li>
    <li><a href="">Check details and pay</a></li>
    <li><a href="">Complete</a></li>
  </ul>
  <p class="smallItem" style="margin-top: 20px">Your ordered items:</p>
  <table class="tabels" cellpadding="5px" id="products-table">
    <tr>
      <td>Del</td>
      <td class="item">Item</td>
      <td class="carModel">Car model</td>
      <td class="quontity">Quontity</td>
      <td>Price</td>
    </tr>
  </table>
  <div class="row">
    <div class=" span4 discount">
      <p class="smallItem">Discount</p>
      {{ CartForm.discount }}<a class="btn">Use</a>
      <p><a href="#">Where I can get a discount?</a></p>
    </div>
    <div class=" span3 payment">
      <p class="smallItem" style="padding-left: 0px">Payment system</p>
      {{ CartForm.payment }}
    </div>
  </div>
  <div class="row">
    <div class="span4 shipping">
      <p class="smallItem">Shipping company</p>
      {% for radio in CartForm.delivery %}
        <p>{{ radio.tag }}<span>{{ radio.choice_label }}</span></p>
      {% endfor %}
    </div>
  </div>
  <div class="row personalInform">
    <div class="span4">
      <p class="smallItem">Your personal information:</p>
        <div class="form-horizontal">
          <div class="control-group">
            <label class="control-label">First Name</label>
            <div class="controls">{{ CartForm.first_name }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">Middle Name</label>
            <div class="controls">{{ CartForm.middle_name }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">Last Name</label>
            <div class="controls">{{ CartForm.last_name }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">E-mail Address</label>
              <div class="controls">{{ CartForm.email }}</div>
          </div>
          <div class="control-group">
            <label class="control-label">Telephone number</label>
              <div class="controls">{{ CartForm.phone }}</div>
          </div>
        </div>
    </div>
    <div class="span3">
      <p>&nbsp;</p>
      <div class="form-horizontal">
        <div class="control-group">
          <label class="control-label">Address Line 1*:</label>
          <div class="controls">{{ CartForm.adress1 }}</div>
        </div>
        <div class="control-group">
          <label class="control-label">Address Line 2:</label>
          <div class="controls">{{ CartForm.adress2 }}</div>
        </div>
        <div class="control-group">
          <label class="control-label">Country:</label>
          <div class="controls">{{ CartForm.country }}</div>
        </div>
        <div class="control-group">
          <label class="control-label">State:</label>
          <div class="controls">{{ CartForm.state }}</div>
        </div>
        <div class="control-group">
          <label class="control-label">City:</label>
          <div class="controls">{{ CartForm.city }}</div>
        </div>
        <div class="control-group">
          <label class="control-label">Zip code:</label>
          <div class="controls">{{ CartForm.zipcode }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="line span7" style="margin-left: 30px"></div>
  </div>
  <div class="row" style="margin-bottom: 40px">
    <div class="span7">
      <table class="lastTable">
        <tr><td>Total item cost:</td><td>$<span id="total_item_cost">00.00</span></td></tr>
        <tr><td>Total item discount:</td><td>$<span id="total_item_discount">00.00</span></td></tr>
        <tr><td>Total shipping:</td><td>$<span id="total_shipping">00.00</span></td>
        </tr><tr><td>Total cost:</td><td>$<span id="total_cost">00.00</span></td></tr>
      </table>
      <ul id="breadcrumbs-two">
        <li><a href="" style="padding-left: 2.6em;">Next step</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}