{% extends "base.html" %}
{% load staticfiles %}
{% load shop_widgets %}
{% load main_widgets %}
{% block title %}{{ page.title }}{% endblock %}
{% block page_title %}
    {{ page.title }}
{% endblock %}
{% block center_content %}
<div class="span7 information">
{{ page.text|safe }}
<p><span>E-mail</span> {{ page.email|safe }}</p>
<div class="row ">
  <div class="span3">
    <p>Address</p>
    <p>{{ page.adress|safe }}
    </p>
  </div>
  <div class="span3">
    <p>Phone number</p>
    <p>
      {{ page.phone|safe }}
    </p>
  </div>
</div>
<div class="row ">
  <div class="span3">
    <p>We work</p>
    <p>{{ page.we_work|safe }}
    </p>
  </div>
</div>
<div class="row">
    <div class="span7 map">
        <iframe width="640" height="330" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/?ie=UTF8&amp;t=m&amp;ll=55.354135,40.297852&amp;spn=8.252126,28.081055&amp;z=5&amp;output=embed"></iframe><br /><small><a href="https://maps.google.ru/?ie=UTF8&amp;t=m&amp;ll=55.354135,40.297852&amp;spn=8.252126,28.081055&amp;z=5&amp;source=embed" style="color:#0000FF;text-align:left">Просмотреть увеличенную карту</a></small>
    </div>
</div>
{% feedback_form_tag %}
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
$('#contact-form').submit(function() {
  if($(this).valid() == false){
    return false;
  }     
  $.ajax({
      data: $(this).serialize(),
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      beforeSend: function () {
        $('#contact-form').html('Sending...');
      },
      success: function(){
        $('#contact-form').html("Message succesfuly send")              
        }
      });
  return false;
});
$('#contact-form').validate({
        rules: {
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            text: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Field name is required"
            },
            email: {
                required: "Field email is required",
                email: "Input correct email adress"
            },
            text: {
                required: "Field text is required",           

            }
        }
    });
</script>
{% endblock %}