{% extends "base.html" %}
{% load staticfiles %}
{% load shop_widgets %}
{% load main_widgets %}
{% block title %}{{ page.title }}{% endblock %}
{% block page_title %}
    {{ page.title }}
{% endblock %}
{% block center_content %}
<div class="span7 about relative">
{{ page.text_block_1_text|safe }}
<ul class="drop">
  {% for item in page.get_faq_item %}
  <li  class="gin">
    <div class="iconAndText ">
      <a href="#">{{ item.title }}</a>
    </div>
    <div class="block">
        {{ item.text|safe }}
    </div>
  </li>
  {% endfor %}
</ul>
{% feedback_form_tag %}
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script type="text/javascript">
$('#contact-form').submit(function() {
  if($(this).valid() == false){
    return false;
  }     
  $.ajax({
      data: $(this).serialize(),
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      beforeSend: function () {
        $('#contact-form').html('Sending...');
      },
      success: function(){
        $('#contact-form').html("Message succesfuly send")              
        }
      });
  return false;
});
$('#contact-form').validate({
        rules: {
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            text: {
                required: true
            }
        },
        messages: {
            name: {
                required: "Field name is required"
            },
            email: {
                required: "Field email is required",
                email: "Input correct email adress"
            },
            text: {
                required: "Field text is required",           

            }
        }
    });
</script>
{% endblock %}