{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block page_title %}
    {{ page.title }}
{% endblock %}
{% block center_content %}
<div class="span7 home">
<div class="row"><div class="span7"></div></div>
	<div class="row">
		<div class="span7">
			<p class="headlines">Feel <span>the difference</span></p>
			<div class="row-fluid badGoodCar">
				<div class="span6">
					<img src="{% static "img/badCar.png" %}">
                    <p class="headlines when">When your car is <br><span>without protection:</span></p>
                    <ul class="whenBad">
                    	{% for item in page.get_bad_differences %}
                        <li>
                        	<div>{{ item.text }}</div>
                        </li>
                        {% endfor %}      
                    </ul>
                </div>
                <div class="span6">
                    <img src="{% static "img/goodCar.png" %}">
                    <p class="headlines when">When your car is <br><span>protected:</span></p>
                    <ul class="whenBad whenGood">
                        {% for item in page.get_good_differences %}
                        <li>
                        	<div>{{ item.text }}</div>
                        </li>
                        {% endfor %}      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row moreThan">
        <div class="span7">
            <img src="{{ page.text_block_1_preview.url }}">
            <h5>{{ page.text_block_1_title }}</h5>
            <p>{{ page.text_block_1_text|safe }}</p>
        </div>
    </div>
    <div class="row-fluid videoWithText">
        <div class="span6 textVideo homes" style="width: 300px;">
            <h4>{{ page.how_it_works_title }}</h4>
            <p>{{ page.how_it_works_text|safe }}</p>
        </div>
        <div class="span6" style="width: 352px">
        	<div id="how-it-works"></div>
        </div>
    </div>
    <div class="row-fluid orderOfActions">
        <div class="span6">
        {% for item in page.get_why_it_so_popular %}
            {% thumbnail item.reason_preview "270x193" as im %}
                <img src="{{ im.url }}">
            {% endthumbnail %}
        {% endfor %}
        </div>
        <div class="span6">
            <h4>Why it is so popular</h4>
            <ul>
                {% for item in page.get_why_it_so_popular %}
                <li>
                    {{ item.reason_title }}
                    <p>{{ item.reason_text|safe }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
           <div class="row">
               <div class="span7 howOrder">
                   <p>HOW <span>TO ORDER?</span></p>
                   <ul id="breadcrumbs-tabs" class="nav nav-tabs">
                       <li class="active"><a href="#home" data-toggle="tab" class="active">Step 1<span> Choose lable</span></a></li>
                       <li><a href="#profile" data-toggle="tab">Step 2<span> Choose car</span></a></li>
                       <li><a href="#messages" data-toggle="tab">Step 3<span> Choose country</span></a></li>
                   </ul>

                   <div class="tab-content">
                       <div class="tab-pane active" id="home"><img src="{% static "img/tabs.png" %}"></div>
                       <div class="tab-pane" id="profile"><img src="{% static "img/tabs.png" %}"></div>
                       <div class="tab-pane" id="messages"><img src="{% static "img/tabs.png" %}"></div>
                   </div>
               </div>

           </div>

                    </div>
        {% endblock %}

{% block js %}
{{ block.super }}
<script type='text/javascript' src="{% static "js/jwplayer.js" %}"></script>
<script type='text/javascript'>
jwplayer('how-it-works').setup({
    'flashplayer': '{% static 'js/player.swf' %}',
    'file': '{{ page.how_it_works_video.url }}',
    'screencolor': '000000',
    'controlbar': 'bottom',
    'width': '355',
    'height': '240'
});
</script>
{% endblock %}
