{% extends "base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% block page_title %}
    {{ page.title }}
{% endblock %}
{% block center_content %}
<div class="span7 about">
	{{ page.text_block_1_text|safe }}
	{% for item in page.get_video_steps %}
    <div class="row-fluid videoWithText">
        <div class="span6 textVideo" style="width: 300px;">
            <p>Step {{ item.step }}</p>
            <h4>{{ item.video_title }}</h4>
            <p>{{ item.video_description }}</p>
        </div>
        <div class="span6 video">
            <div id="video-step-{{ item.id }}"></div>
       	</div>
    </div>
    {% endfor %}

    <div class="row-fluid orderOfActions">
        <div class="span6">
        	{% for item in page.get_actions %}
                {% thumbnail item.action_preview "270x193" as im %}
                    <img src="{{ im.url }}">
                {% endthumbnail %}
            {% endfor %}
        </div>
       	<div class="span6">
       		<h4>Order of actions</h4>
            <ul>
            	{% for item in page.get_actions %}
               	<li>{{ item.action_title }}
                <p>{{ item.action_text|safe }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{{ block.super }}
<script type='text/javascript' src="{% static "js/jwplayer.js" %}"></script>
<script type='text/javascript'>
{% for item in page.get_video_steps %}
  jwplayer('video-step-{{ item.id }}').setup({
    'flashplayer': '{% static 'js/player.swf' %}',
    'file': '{{ item.video.url }}',
    'screencolor': '000000',
    'controlbar': 'bottom',
    'width': '365',
    'height': '243'
  });
{% endfor %}
</script>
{% endblock %}